<h1 id="krunt">Krunt</h1>
<div class="section">
<div class="colstwo">
<h2 id="power">Power <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /></h2>
<p class="smalltext">Attacking, lifting, pushing, breaking, and sometimes climbing.</p>
<h2 id="agility">Agility <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /></h2>
<p class="smalltext">Defending, running, jumping, sneaking, hiding, dodging, swinging, and sometimes climbing</p>
<h2 id="brains">Brains <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /></h2>
<p class="smalltext">Intelligence, wisdom, personality, disguises, discernment, perspicacity, spells, clues, psychic abilities, languages, codes, history.</p>
<h2 id="health">Health <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /></h2>
<p class="smalltext">Health Points, stamina, fatigue, carrying, breath holding, disease resistance, poison resistance.</p>
<h2 id="dare">Dare <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /></h2>
<p class="smalltext">Daring, focus, luck, chutzpah, fate, karma.</p>
<p><strong>Combat skills: </strong> +2h Combat related rolls. +1 Crit rolls. This character can divide up their attack dice between opponents.</p>
<p><strong>Equipment:</strong> Sack, Healing herbs (6) [+2h to a <em>healing</em> check.], Lantern, flint &amp; steel</p>
<p><strong>Doom:</strong> Gambles</p>
<h2 id="money">Money <img alt="" src="d6outline.svg" /> <img alt="" src="d6outline.svg" /> <img alt="" src="d6_tiny.svg" /> <img alt="" src="d6_tiny.svg" /> <img alt="" src="d6_tiny.svg" /> <img alt="" src="d6_tiny.svg" /> <img alt="" src="d6_tiny.svg" /></h2>
<h3 class="breakbefore" id="fist">Fist</h3>
<ol>
<li>Black eye. +1 damage and possible quick hand action.</li>
<li>Uppercut knocks them flat.</li>
<li>Kidney shot. Fall over and actions are at -1d.</li>
<li>Disarmed. Weapon thrown 5d&rsquo; away.</li>
<li>Uppercut. +2 damage.</li>
<li>Haymaker. +2 damage and knock them flat.</li>
<li>Eye strike. -1 attack until healed.</li>
<li>Knee damaged. Movement reduced by half. -2 <strong>power</strong> and <strong>agility</strong> reduced to 1.</li>
<li>Disarmed and weapon grabbed. Make a free attack with it now.</li>
<li>K.O. prone and make 3 <strong>health</strong> hits to awaken.</li>
<li>Neck strike. +3 damage, drop weapon, and lose a turn.</li>
<li>Chained combo. Keep rolling attacks until one fails or you fumble.</li>
<li>Pull their still beating heart from their chest and show it to them.</li>
</ol>
<h3 id="sword-2d">Sword (+2d)</h3>
<ol>
<li>Gain +1 <strong>Armor</strong> agianst this opponent until next round.</li>
<li>Opponent cannot crit on you with their next attack.</li>
<li>Opponent loses their highest rolled attack die if they attack you.</li>
<li>+2 Damage to weapon arm. -2d attack.</li>
<li>Bleeding wound. +2 damage and 1 damage/round until bleeding is stopped.</li>
<li>Powerful strike. +3 damage and 3h <em>agility</em> check or be pushed back.</li>
<li>Skillful attack. Choice of grappled, pushed back on other effect.</li>
<li>Trip up. +4 damage and 4h <em>agility</em> check or prone.</li>
<li>Weapon arm removed and smacks another opponent.</li>
<li>Gory attack. +2d6 damage and other opponents may flee.</li>
<li><em>You killed my father. Prepare to die</em> +d66 damage.</li>
<li>Speed demon. Make 1d6 more attacks against opponents in close range.</li>
<li>Blur of blades. All opponents in melee range take 2d6 damage.</li>
</ol>
</div>
<!--end col -->
</div>
<p></div><!--end section--></p>
<!--end page-->