* {
/* border: 1px solid lightgray; */
  box-sizing: border-box;
}

@font-face {
  font-family: liberationsans;
  font-weight: bold;
  src: url(fonts/LiberationSans-Bold.ttf);
}

@font-face {
  font-family: liberationsans;
  font-weight: normal;
  src: url(fonts/LiberationSans-Regular.ttf);
}

@font-face {
font-family: 'Sebaldus-Gotisch';
src: url('fonts/Sebaldus-Gotisch.ttf') format('truetype');
font-weight: normal;
}
div.keeptogether {
display: inline-block;
width: 100%;
}
.colstwo {
column-count: 2;
column-gap: .5in;
}

html {
color: black;
counter-reset: h2-counter;
font-family: 'Sebaldus-Gotisch';
font-size: 10pt;
}
body {
font-family: 'liberationsans';
margin: 0;
column-gap: .5in;
line-height: 1.3;
}

p {
margin-top: 0px;
text-align: justify;
}
h1 {
display: none;
}

h3 {
margin-bottom: 0px;
}

.section {
break-after: always;
position: relative;
}

ol, ul {
margin-top: 0;
padding-left: 0;
}

li {
margin-top: 0em;
margin-bottom: .5em;
}

ol > li::marker {
font-weight: bold;
}

.breakbefore {
break-before: always;
}

.breakafter {
break-after: always;
}

.clean {
page: clean;
}

.background img {
/* top: -.375in; */
/* height: 8.75in; */
/* left: -.375in; */
/* margin: 0; */
/* max-width: none; */
/* object-fit: cover; */
/* /\* page: full; *\/ */
/* position: absolute; */
/* width: 5.75in; */
/* z-index: -1; */
}
pre, code, kbd, source {
font-size: .8em;
}
pre, kbd {
border: 1px dotted black;
padding: .25em;
overflow: hidden;
color: white;
background: black;
border-radius: 4px;
}
#contents p {
font-size: 2em;
}
#contents ul {
display: block;
margin: 1em 0;
padding: 0;
}
#contents li {
display: block;
}
#contents a {
color: inherit;
text-decoration: none;
}
#contents a::before {
/* content: target-counter(attr(href), h2-counter) '. ' target-text(attr(href)); */
}
#contents a::after {
content: target-counter(attr(href), page);
float: right;
}
table {
border-collapse: collapse;
width: 100%
}

thead {
border-bottom: .5px solid black;
}

tr td {
border-bottom: .5px solid lightgray;
}
p.background, p.forground {
left: -.375in;
position: absolute;
}
p.background {
top: -.375in;
}
img.forground {
}
@media only screen {
  p.background {
  top: -.125in;
  left: -.125in;
  }
  p.background img {
  clip-path: inset(.125in .125in .125in .125in);
  top: 0in;
  position: inherit;
  }
  p.forground img {
  bottom: 0in;
  position: relative;
  clip-path: inset(0in .125in .125in .125in);
  }
  p.forground {
  position: inherit;
  margin-bottom: -.125in;
  }
  p:last-child.forground {
  position: inherit;
  margin-bottom: -.75in;
  }
  body {
  background: lightgray;
  }
  .section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px darkgray;
  background: white;
  width: 5.5in;
  z-index: -1;
  /* font-size: 1.1rem; */
  width: 8.5in;
  padding: .5in .5in .75in .5in;
  min-height: 11in;
  position: relative;
  }
  .blank {
  display: none;
  }
}
@media only screen and (max-width: 5.5in) {
  .section {
  width: auto;
  min-height: 168vw;
  }
  img {
  /* max-width: 87vw; */
  }
  p.background {
  /* width: 100vw; */
  }
  p.background img, p.forground img {
  left: -2.5vw;
  width: 115vw;
  }
}
