<div class="section">
<div class="page">
<h1 id="for-glory">For Glory</h1>
<div class="content">
<!-- ![zklogo](images/zk.png) -->
</div>
</div>
<div class="section">
<div class="page">
<h2 id="introduction">Introduction</h2>
<div class="colstwo">
<div class="keeptogether">
<p>Pierce your nipples.
This game was created to allow players to make <strong>zombie ninjas</strong>, <strong>axe witches</strong>, <strong>necrodroids</strong> or whatever craziness they can think of.
The dungeon master can be riffing on the players actions and using random tables to create emergent stories.</p>
<p>This game simulates a piece of fiction rather than reality.
In this story a bow and arrow may be a better weapon than a gun.
The game using a variety of random tables as seeds for fun at the table and players and GM are expected to make up some table entries to suit the character and world.</p>
<p>Characters attributes are measured in the number of dice they roll.
If your character has a <em>Power</em> of 3, they roll 3 dice. Every die that rolls greater than 3, is a <em>hit</em>.</p>
</div>
<!--end keeptogether-->
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<!-- ![van](images/dicevan.jpg) -->
<h2 id="mechanics">Mechanics</h2>
<div class="colstwo">
<p>When a character wants to do something and the success or failure will have a significant effect on the story, the player rolls a bunch of six-sided dice. Each die that <em>beats</em> the <strong>Target number</strong> of 3 is a <strong>hit</strong>. Any attempted task may require one or more <strong>hits</strong> in order to complete successfully.</p>
<p>Instant challenges, like jumping over a hole, require the <strong>hits</strong> be completed in a single roll. Cumulative challenges, like breaking down a door or defeating a <em>fire vole</em>, may be completed with cumulative <strong>hits</strong>. Even if a challenge allows cumulative <strong>hits</strong>, it may be beneficial to complete the challenge in a single action. Such as smashing through a door with a single blow to surprise an enemy.</p>
<h3 id="chance-of-success-table">Chance of success table</h3>
<p>This table shows the chance to achieve a certain amount of hits with differing amounts of dice.</p>
<table>
<thead>
<tr>
<th>d6</th>
<th>0 hits</th>
<th>1+</th>
<th>2+</th>
<th>3+</th>
<th>4+</th>
<th>5+</th>
<th>6+</th>
<th>7+</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>50</td>
<td>50</td>
<td>8</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td>25</td>
<td>75</td>
<td>33</td>
<td>9</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td>12</td>
<td>87</td>
<td>56</td>
<td>25</td>
<td>8</td>
<td>2</td>
<td></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td>6</td>
<td>94</td>
<td>73</td>
<td>43</td>
<td>20</td>
<td>7</td>
<td>2</td>
<td></td>
</tr>
<tr>
<td>5</td>
<td>3</td>
<td>97</td>
<td>84</td>
<td>60</td>
<td>34</td>
<td>16</td>
<td>6</td>
<td>2</td>
</tr>
<tr>
<td>6</td>
<td>2</td>
<td>98</td>
<td>90</td>
<td>73</td>
<td>49</td>
<td>28</td>
<td>13</td>
<td>5</td>
</tr>
<tr>
<td>7</td>
<td>1</td>
<td>99</td>
<td>95</td>
<td>83</td>
<td>63</td>
<td>41</td>
<td>22</td>
<td>11</td>
</tr>
</tbody>
</table>
<h3 id="dice">Dice</h3>
<p>Dice are the main unit of measure in the game. Character attributes are measured in dice and you can gain or lose dice from your attributes. Dice may be broken down into 6 pips. You may also gain or lose pips but it has no mechanical effect unless you gain or lose 6 pips. The notation &lsquo;2d&rsquo; indicates 2 six-sided dice. 2p indicates 2 pips. </p>
<p>A character may have a <em>Power</em> of 3d and a sword which adds +2d for their attack. This would make an attack roll of 5d. Each hit on that roll will remove a 1 pip (1hp) of health from the target.</p>
<h4 id="terms">Terms</h4>
<ul>
<li>1hd: one <em>health</em> die.</li>
<li>hit: a roll of 4,5, or 6.</li>
<li>+1h: add one <em>hit</em> to your roll.</li>
<li>+1d: add an extra die to your roll.</li>
<li>1p: one pip (pips are the dots on a 6-sided die)</li>
<li>1hp: one <em>health</em> pip.</li>
<li>3d6 +1d +2h: Roll  4 dice and add 2 <em>hits</em> to the result.</li>
</ul>
<h4 id="ways-to-roll-your-dice">Ways to roll your dice</h4>
<ul>
<li>1d: Roll 1 die, a roll of 4-6 is a <em>hit</em>.</li>
<li>d6: Use the face value of the die.</li>
<li>d2: Roll a die and divide the face value by 2 rounded up.</li>
<li>d3 - Roll a die and divide the face value by 2 rounded up.</li>
<li>d12 - Roll 1d2. On a 1, roll 1d6. On a 2, roll 1d6+6.</li>
<li>d18 - Roll 1d3. On a 1, roll  1d6. On a 2, roll 1d6+6. On a 3, roll 1d6+12.</li>
<li>d33 - Roll 1d3 twice. The first die is the 10s place and the second is 1s. Rolling a 3 and a 4 makes 22.</li>
<li>d36 - </li>
<li>d66 - Roll a die for the 10s place and then roll a die for the 1s place. Rolling a 3 and a 4 make 34.</li>
</ul>
<div class="keeptogether">
<h3 id="stunts">Stunts</h3>
<p>Stunts are the way you describe the actions your character takes. There are three levels of stunts and each one adds another die to your roll. Level 1 stunts simply describe your action in a cool way. Level two stunts incorporate the story, the environment, or one of the character&rsquo;s doom. Level 3 stunts are determined by the judge at the time.</p>
<ul>
<li><em>I attack with my sword</em>. 0 dice.</li>
<li><em>I slash at the monster&rsquo;s neck</em>. +1 die.</li>
<li><em>I fling some of the swamp muck into the creatures eyes before driving my sword in</em>. +2 dice.</li>
<li>Something so cool that it belies an example. +3 dice.</li>
</ul>
<p>Co-operative stunts are when you include another PC in your stunt. The included PC may loan the player dice of the appropriate attribute for this action. They cannot use those dice on their next turn.</p>
<h3 id="the-doom-pool">The Doom Pool</h3>
<p>Doom dice. Gm gains doom dice from player risk wager loan. Doom dice can be added to gm rolls or rolled to allow the gm to finish the scene. </p>
</div>
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="characters">Characters</h2>
<div class="colstwo">
<ol>
<li>Choose one of your attributes to get an extra die and give the remainder of the attributes one die.</li>
<li>Choose or roll an occupation.</li>
<li>Choose or roll a piece of equipment.</li>
</ol>
<h3 id="attributes">Attributes</h3>
<p>Attributes are measured with dice.
The number of dice you have in an attribute is how many dice you roll in a challenge that uses that attribute.
The default amount, for a healthy character, in all 5 attributes is 1 die.
Each die has 6 pips.
Sometimes the pips are used as a unit of measure.</p>
<p>Attribute dice and pips maybe gained and lost during play.
Some attribute effects may take longer to heal or even be permanent if required within the narrative.</p>
<p>Losing or gaining pips has no mechanical effect until you lose or gain 6 pips. 
At which point you would roll one die more or less for contests which use that attribute.</p>
<p>Being reduced to zero pips in any attribute will have the effects described below.
In addition, for any contest that use an attribute that has been reduced to zero, you would use 2 dice and take the lower result.</p>
<p>If you have 0 pips in an attribute, you roll 2 dice in tests and take the lowest result.</p>
<h4 class="item" id="power-dice">Power Dice</h4>
<p>Attacking, lifting, pushing, breaking, and sometimes climbing.</p>
<h4 class="item" id="agility-dice">Agility Dice</h4>
<p>Defending, running, jumping, sneaking, hiding, dodging, swinging, and sometimes climbing</p>
<h4 class="item" id="brain-dice">Brain Dice</h4>
<p>Intelligence, wisdom, personality, disguises, discernment, perspicacity, spells, clues, psychic abilities, languages, codes, history.</p>
<h4 class="item" id="health-dice">Health Dice</h4>
<p>Health Points, stamina, fatigue, carrying, breath holding, disease resistance, poison resistance.</p>
<p>While the default <em>health</em> amount is 1 die, additional dice are awarded based on physical size. Humanoid sized characters, whether very small or very large, gain 1 additional <em>health</em> die. If you want to play a character so small or large that it should be reflected in the mechanics, you would instead gain 0 or 2 <em>health</em> dice. Smaller targets are harder to hit and larger targets are easier, as discussed in the <em>combat</em> section.</p>
<p>Damage from combat temporarily removes pips from your <em>health</em> dice.
Taking 6 points of damage reduces your <em>health</em> dice by 1 and requires a roll on a wound table.
Being reduced to 0 <em>health</em> dice means you are <em>exhausted</em>.
<em>Ehausted</em> characters move at half speed and use half their dice for any physical activity.</p>
<h4 class="item" id="dare-dice">Dare Dice</h4>
<p>Daring, focus, luck, chutzpah, fate, karma.</p>
<p>If you have time to focus before executing a task you may add your <em>dare</em> dice to your roll. Dare may also be added if do not have time to focus but, those dice are added to the Dungeon Master&rsquo;s Doom Pool. Temporary <em>dare</em> die are lost at the end of a session and whenever a <em>fumble</em> is rolled.</p>
<h5 class="item" id="dare-checks">Dare checks</h5>
<p>The <strong>DM</strong> may call for a <em>dare check</em> any time it is warranted by the story. Often, only a single success is required to pass a dare check and avoid some misfortune.</p>
<h3 id="size">Size</h3>
<p>Size is also measured in dice.</p>
<ul>
<li>1pip - Tiny (bird)</li>
<li>1d - Small (gnome): +1d <em>agility</em>, -1d <em>power</em>; Inventory: 6+<em>health</em>; Can use of <em>agility</em> dice to attack but then cannot use it for defense this turn.</li>
<li>2d - Normal (human): +1d <em>health</em>; inventory: 10+<em>health</em>. The word **</li>
<li>3d - Big (Andre): +2d <em>health</em>, -1d <em>agility</em>; inventory: 14+<em>health</em></li>
<li>5d - Giant (tree)</li>
<li>12d - Massive (building)</li>
</ul>
<h3 id="occupations">Occupations</h3>
<ol>
<li><strong>Hunter, Ranger</strong> <br />
    +1d <em>Power</em>, +1d <em>agility</em>, a bow (+2d) &amp; 12 arrows, <em>healing herbs</em> (6), dagger (+1d fast), combat skills</li>
<li><strong>Guard, Soldier, Tax Collector</strong><br />
    +2d <em>agility</em>, chain mail armor +2,  choose one extra from <em>equipment</em>, 10cp, sword (+2d), combat skills</li>
<li><strong>Executioner, Mercenary, Barbarian</strong><br />
    +1d <em>Power</em>, +1d <em>agility</em>, leather armor +1, black hood or furry, horned helm, sack, 10cp, battle axe (+2d+1h slow), combat skills</li>
<li><strong>Alchemist, Wizard</strong><br />
    +2d <em>brains</em>, <em>6 flash powder</em>, 1 alchemist spell, dagger (+1d fast), arcana skills</li>
<li><strong>Witch, Warlock, Midwife</strong><br />
    +1d <em>brains</em>, +1d <em>agility</em>, <em>6 healing herbs</em>, 2 witch spell, staff (+1d), arcana(S), forage(S)</li>
<li><strong>Thief, Rogue, Assassin</strong><br />
    +1d <em>Agility</em>, +1d <em>brains</em>, +1d <em>dare</em>, 4 Daggers (+1d, fast), lockpick, <em>poison</em> (6), Thief&rsquo;s skills</li>
</ol>
<h3 id="combat-skills">Combat skills</h3>
<p>+2h Combat related rolls. +1 Crit rolls. This character can divide up their attack dice between opponents.</p>
<h3 id="arcana-skills">Arcana skills</h3>
<p>+2h for magic related tasks.</p>
<h3 id="thiefs-skills">Thief&rsquo;s skills</h3>
<p>+2h for all rolls a thief may excel at. Concealable weapons confer +3d and ignore armor on surprise attacks.</p>
<h4 id="cheater-die">Cheater Die</h4>
<p>Thieves get a <em>cheater die</em>. After rolling, a thief may elect to use their <em>cheater die</em> to enhance their roll. The thief simply declares their intention and then rolls 1d in secret. Typically, under a cup. They then tell the DM what number they rolled and these are added to their total hits. The dm has the option calling the thief&rsquo;s bluff. At which point, the thief must lift their cup and show the die to all. If the die is on a different result then that which was claimed, the thief has no <em>hits</em> for this roll and loses the <em>cheater die</em> for this session. If the thief was not bluffing, the DM empties their <em>doom pool</em> and the thief gets the option of rolling the <em>cheater die</em> again.</p>
<h4 id="poison">Poison</h4>
<p>There are many kinds of poison but the rules for generic poison are as follows. Poisoned weapons cause the number of hits that do damage to a target to double. Poisoned weapons remain poisonous for a single combat encounter in which the weapon is used.</p>
<p>Applying poison to a weapon has a difficulty of 3. A thief would roll <em>agility</em> + 2h and likely add their <em>dare</em> as well. A failed check wastes the poison and causes 1d damage.</p>
<p>Drinking or eating poison requires 4 <em>health</em> hits. Failing inflicts 4d6hp.</p>
</div>
<h3 id="equipment-3d6-ignore-duplicates">Equipment (3d6, ignore duplicates)</h3>
<div class="colstwo">
<ol>
<li>Chalk</li>
<li>Compass</li>
<li>Donkey (roll on <em>name</em> table)</li>
<li>Flash powder (6) Allows you to withdraw from melee freely, exit the room, stun a target.</li>
<li>Sack</li>
<li>Healing herbs (6) +2h to a <em>healing</em> check.</li>
<li>Lantern and flint &amp; steel</li>
<li>Rope, 50&rsquo;</li>
<li>Rations (6)</li>
<li>Torches (6) and flint &amp; steel</li>
<li>Crowbar</li>
<li>Backpack</li>
<li>Shield</li>
<li>Grappling hook</li>
<li>Poison (6) See the poison rules under <em>thief skills</em>.</li>
<li>Spyglass</li>
<li>Bucket</li>
</ol>
</div>
<!--end col -->
</div>
<!--end page-->
<div class="page">
<h3 id="dooms-d66">Dooms (d66)</h3>
<p>Every great hero has flaws. Every time you use your doom to effect the story, you earn a temporary <em>dare</em> die. Roll d66 on this table</p>
<div class="colstwo">
<ol>
<li></li>
<li>Addictive personality</li>
<li>Always has to be right</li>
<li>Bad tempered</li>
<li>Complains</li>
<li>Compulsive</li>
<li>Cursed</li>
<li></li>
<li>Death wish</li>
<li>Drunkered</li>
<li>Fear of heights</li>
<li>Fear of small spaces</li>
<li>Fear of snakes</li>
<li>Fear of spiders</li>
<li></li>
<li>Fidgets</li>
<li>Financially irresponsible and in debt</li>
<li>Fool for love</li>
<li>Foolhardy</li>
<li>Gambles</li>
<li>Glass half empty</li>
<li></li>
<li>Ill mannered</li>
<li>Klepto</li>
<li>Lazy</li>
<li>Low self-esteem</li>
<li>Narcissistic</li>
<li>Obsessed with beauty</li>
<li></li>
<li>Obsessed with treasure</li>
<li>Paranoid</li>
<li>Perfectionist</li>
<li>Rose colored glasses</li>
<li>Says the wrong thing</li>
<li>Slovenly</li>
<li></li>
<li>Tardy</li>
<li>Unlucky</li>
<li>Vain</li>
<li>hh</li>
<li>hh</li>
<li>hh</li>
</ol>
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="weapons">Weapons</h2>
<div class="colstwo">
<p>Weapons add dice and, possibly, automatic hits to combat rolls.</p>
<p>Weapons have special tables for critical hits. Players should receive a handout which includes the table for any items that require it.</p>
<h4 id="generic-weapon-types">Generic Weapon Types</h4>
<ul>
<li><strong>Unarmed</strong>: 0d. Example: Fist</li>
<li><strong>Small</strong>: 1d. Cost: 1cp. Note: May be concealable or throwable. Example: Dagger, club</li>
<li><strong>Small ranged</strong>: 1d. Cost: 4cp. Note: 12 ammo/slot, 1cp each. Example: Crossbow, handgun</li>
<li><strong>One-handed</strong>: 2d. Cost: 10cp. Example: Sword, Mace, Submachine gun, Beam Staff</li>
<li><strong>Large ranged</strong>: 2d. Cost: 50cp. Note: 6 ammo/slot. Cost: 10cp. Example: Bow, Rifle</li>
<li><strong>Two-handed</strong>: 3d. Cost: 60cp. Note: Rare, Takes 2 gear slots, <strong>Agility</strong> -1d. Example: Great sword, battle axe</li>
</ul>
<h4 id="generic-critical-hit-table">Generic Critical Hit Table</h4>
<ol>
<li>Solid hit, +1 damage</li>
<li>Prone</li>
<li>Entangled</li>
<li>Disarmed</li>
<li>Gross hit, +2 damage</li>
<li>Bleeding</li>
<li>Armor/shield Damaged</li>
<li>Entangled</li>
<li>Arm maimed</li>
<li>Disgusting hit, +3 damage</li>
<li>Blinded</li>
<li>Brained / Stunned</li>
<li>Eviscerated / Impaled</li>
</ol>
</div>
<h4 class="item" id="fist">Fist</h4>
<div class="colstwo">
<p>0 additional dice are added to the <em>power</em> roll.</p>
<ol>
<li>Black eye. +1 damage and possible quick hand action.</li>
<li>Uppercut knocks them flat.</li>
<li>Kidney shot. Fall over and actions are at -1d.</li>
<li>Disarmed. Weapon thrown 5d&rsquo; away.</li>
<li>Uppercut. +2 damage.</li>
<li>Haymaker. +2 damage and knock them flat.</li>
<li>Eye strike. -1 attack until healed.</li>
<li>Knee damaged. Movement reduced by half. -2 <strong>power</strong> and <strong>agility</strong> reduced to 1.</li>
<li>Disarmed and weapon grabbed. Make a free attack with it now.</li>
<li>K.O. prone and make 3 <strong>health</strong> hits to awaken.</li>
<li>Neck strike. +3 damage, drop weapon, and lose a turn.</li>
<li>Chained combo. Keep rolling attacks until one fails or you fumble.</li>
<li>Pull their still beating heart from their chest and show it to them.</li>
</ol>
</div>
<!--end col -->
</div>
<!--end page-->
<div class="page">
<h4 class="item" id="dagger-melee">Dagger (melee)</h4>
<div class="colstwo">
<p>+1d. Concealable, throwable.</p>
<ol>
<li>Vicious blow. +2 damage </li>
<li>Bloody mess. Double damage</li>
<li>Internal injuries. 5s explode as well.</li>
<li>You end up  behind your opponent and they did not see where you went.</li>
<li>Artery. +2 damage and 2 damage/round until staunched.</li>
<li>Skillful blow. Attack this opponent again or attack another target melee or ranged.</li>
<li>The slow blade finds its target. Ignore armor and +2 damage.</li>
<li>Forceful strike. +2d and the target must make an <em>agility</em> 3 check or fall/pushed back. Depending on size.</li>
<li>Grapple them and stab again for d6+2 damage. They must break free on their turn or double damage and ignore armor next round.</li>
<li>Massive strike for +2d6 damage and your opponent is thrown prone.</li>
<li>Too fast to see. 1d6 damage to all close opponents.</li>
<li>Eviscerated - Death save and scoop your guts up.</li>
<li>Dagger thrust under the chin pops out the top of the head.</li>
</ol>
</div>
<h4 class="item" id="dagger-ranged">Dagger (ranged)</h4>
<div class="colstwo">
<ol>
<li>Precision strike +1d6 damage.</li>
<li>Stuck in bone. -1d action until pulled out for 1d6 blood loss.</li>
<li></li>
<li></li>
<li>Pin limb to the wall.</li>
<li>Dagger in the eye. +2d6 damage.</li>
<li>Pierces kidney. 1d6 damage + 1d6 damage after taking any action.</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li>Shot in the eye blasts out of the back of the skull, pinning the brain to the wall.</li>
</ol>
</div>
<h4 class="item" id="sword">Sword</h4>
<p>+2d</p>
<div class="colstwo">
<ol>
<li>Gain +1 <strong>Armor</strong> agianst this opponent until next round.</li>
<li>Opponent cannot crit on you with their next attack.</li>
<li>Opponent loses their highest rolled attack die if they attack you.</li>
<li>+2 Damage to weapon arm. -2d attack.</li>
<li>Bleeding wound. +2 damage and 1 damage/round until bleeding is stopped.</li>
<li>Powerful strike. +3 damage and 3h <em>agility</em> check or be pushed back.</li>
<li>Skillful attack. Choice of grappled, pushed back on other effect.</li>
<li>Trip up. +4 damage and 4h <em>agility</em> check or prone.</li>
<li>Weapon arm removed and smacks another opponent.</li>
<li>Gory attack. +2d6 damage and other opponents may flee.</li>
<li><em>You killed my father. Prepare to die</em> +d66 damage.</li>
<li>Speed demon. Make 1d6 more attacks against opponents in close range.</li>
<li>Blur of blades. All opponents in melee range take 2d6 damage.</li>
</ol>
</div>
</div>
<div class="page">
<h4 class="item" id="bow-arrow">Bow &amp; Arrow</h4>
<p>+2d (no bonus if untrained)</p>
<div class="colstwo">
<ol>
<li>Shoot the weapon out of their hand or damage their weapon.</li>
<li>Shoot again at the same or a different target.</li>
<li>Take 2 more shots on any targets.</li>
<li>Arrows stick in opponent reducing 1 die from all actions until healed.</li>
<li>Take 3 more shots on any targets.</li>
<li>Head shot, 6 damage.</li>
<li>Impale limb.</li>
<li>Arrow sticks in opponent reducing 2 die from all actions until healed and reducing movement to 0.</li>
<li>Keep making attacks but only at new opponents.</li>
<li>Arrow pierces for 1d6 damage and another opponent for 1d6 as well.</li>
<li>Neck sprays blood (1d6 damage). Lose 1d6hp per round and blinds other opponents (-2d until eyes are wiped clean).</li>
<li>Ignore armor and +2d6 damage.</li>
<li>Head shot (6 damage) in the zone. Roll an attack but each <em>hit</em> is a head shot (6 damage) on another opponent.</li>
</ol>
</div>
<h4 class="item" id="battle-axe">Battle Axe</h4>
<p>+2d+1h, slow</p>
<div class="colstwo">
<ol>
<li>+2 hit</li>
<li>Opponent&rsquo;s armor reduced by 1</li>
<li>Opponent&rsquo;s weapon and shield is destroyed</li>
<li>Dominant limb is severed.</li>
<li>Opponents armor/shield is destroyed, +1d6 hits.</li>
<li>Leg is severed.</li>
<li>Both arms are severed.</li>
<li>Make another attack at any single,<em>near</em> opponent at +5d.</li>
<li>Make another attack at +5d against any number of <em>near</em> opponents.</li>
<li>Eviscerated (2hd &amp; 6hp/round). Other opponents may slip and fall.</li>
<li>Beheaded (4hd). Make another attack at any single,<em>near</em> opponent at +5d.</li>
<li>Chopped down the middle (6hd) with halves blasting out left and right and knocking nearby opponents prone. All opponents run in fear or beg to serve you.</li>
<li>Cleaved at the trunk (8hd). Make 3 more attacks at any <em>near</em> opponents at +5d and ignoring armor.</li>
</ol>
</div>
<h4 id="ammunition">Ammunition</h4>
<p>Ammo is unlimited and ignored.</p>
<h5 id="optional-ammo-rules">Optional ammo rules</h5>
<p>Ammunition is an item like any other. Each gear slot of ammo contains a multiple of 6 shots. You can use d6s to track ammo.</p>
<h3 id="armor">Armor</h3>
<p>Armor reduces <strong>agility</strong> Dice and incoming damage. If <strong>agility</strong> is 0, <strong>power</strong> is reduced instead.</p>
<ul>
<li>Light armor -1 damage, -1 <strong>agility</strong></li>
<li>Heavy armor -2 damage, -2 <strong>agility</strong></li>
<li>Shield -1 damage, -1 <strong>agility</strong>. Shield may also help mitigate injuries and can be easily dropped or thrown in order to use the lost <em>agility</em> die.</li>
</ul>
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="combat">Combat</h2>
<p>Combat takes place in rounds with each player and non-player character (NPC) usually taking a single turn in the round. Each round takes 10 seconds which can be tracked with dice by adding another die for each minute of combat. If you are tracking time closely, each combat encounter is rounded to the nearest 10 minute increment to account for catching your breath and patching yourself up after combat.</p>
<h3 id="initiative">Initiative</h3>
<div class="colstwo">
<p>To determine who goes when, each player rolls an <em>agility check</em> the fastest monster&rsquo;s speed. Winners take their turns before the monsters and losers go after. There maybe other factors which affect the turn order such as minions typically going last.</p>
<h3 id="attacking">Attacking</h3>
<p>Attacking a target is a challenge roll like any other. Roll as many dice as you can. This is usually <strong>Power</strong> dice + Weapon dice.</p>
<p>Some skills, such as <em>combat</em> add extra <em>hits</em> to your roll.</p>
<p>Each die that comes up above the target number (usually 3) is counted as a <strong>hit</strong> and subtracted from the target&rsquo;s <strong>health pips</strong>. Armor allows a target to avoid a certain number of <strong>hits</strong> but <strong>hits</strong> that were the result of a roll of <strong>6</strong> are not effected by armor. </p>
<p>The number of dice rolled may be altered as described in the <em>Mechanics Overview</em> section. Additionally, the <em>dungeon master</em> may determine that aspects of the environment alter the number of dice rolled.</p>
<p>The relative size of the combatants effects the dice roll as well. Smaller targets are harder to hit and larger targets easier. Attacking a target one size larger adds two dice to the roll and is multiplied 
by two for each additional size difference. So a gnome attacks a giant with 4 extra dice.</p>
<p>NPCs and monsters do not make attack rolls. Rather, players roll for defense when monsters attack.</p>
<h3 id="defending">Defending</h3>
<p>Players roll their <em>agility</em> to defend. The player&rsquo;s <em>hits</em> are subtracted from the monster&rsquo;s attack. The remainder are subtracted from the players <em>health pips</em>. </p>
<p>PCs and NPCs that are reduced to 0 <em>health pips</em> are <em>defeated</em>.</p>
<p>Armor has the effect of making some of a Player&rsquo;s agility into automatic successes. These dice cannot be used for agility related actions while armor is worn. A player wearing leather armor with 3 <em>agility</em> dice would only roll 2 dice as and add a single success to the result. If they try to jump over a pit wearing their armor, they only roll two dice.</p>
<h3 id="disengaging">Disengaging</h3>
<p>Moving away from an opponent that is in active melee combat with you incurs a free attack.</p>
<h3 id="alternate-combat-actions">Alternate Combat Actions</h3>
<dl>
<dt>Distract</dt>
<dd>If you are not the main target, attack and remove <em>hits</em> - target&rsquo;s <em>intelligence</em> from their next attack roll in this round.</dd>
<dt>Disarm</dt>
<dd>Roll your <em>agility</em> against the target&rsquo;s <em>power</em> to cause them to drop their weapon.</dd>
</dl>
<ul>
<li>Trip - Roll your <em>power</em> against the target&rsquo;s <em>power</em> + <em>size</em>.</li>
<li>Parry - Use <em>power</em> instead of <em>agility</em> to defend against the next attack this targets makes.</li>
<li>Push - Use <em>power</em> - target&rsquo;s <em>size</em> to beat target&rsquo;s <em>agility</em> and knock back 5&rsquo; + <em>hits</em></li>
<li>Grapple - use agility to get passed defense and ignore armor. Affected by reach of the defender&rsquo;s weapon. After success use power to defeat.</li>
<li>Disengage - Use <em>agility</em> to beat target&rsquo;s <em>agility</em> to move away without incurring an attack. Failure means you can still move away but you incur an attack no matter what.</li>
</ul>
<h3 id="critical-hits">Critical Hits</h3>
<p>If double 6s are rolled, you will also roll on the critical hit table for that weapon. If three 6s are rolled, roll 1d6+6 on the critical hit table. Additional 6s add a +1 each to the roll.
Some npcs may have their own crit tables but, in general, NPCs do not crit.
The effect of rolling double 6s on challenges other than combat are at the judges discretion.</p>
</div>
<!--end col -->
</div>
<!--end page-->
<div class="page">
<h3 id="fumbles">Fumbles</h3>
<p>If more than 50% of the dice rolled come up 1, it is a fumble.</p>
<p><strong>One Shot:</strong> </p>
<h4 id="player-character-fumble-table">Player Character Fumble Table</h4>
<p>Character fumbles on attacks are specific to the character. They following table may be used as a guide.</p>
<ol>
<li>Fall on your sword. Roll <em>power</em> against yourself.</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li>Trip into your opponent. If the attack has any hits, +2 hits. You are prone.</li>
</ol>
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="suffering">Suffering</h2>
<div class="colstwo">
<h3 id="healing">Healing</h3>
<p>There are three types of damage that may be applied to attributes.
1. Normal damage that represents various types of wounds and heals at one pip per day.
Two pips for days only spent resting.
Field medicine, magical healing and potions all heal this type of damage and, usually, only <em>health</em> pips.
1. Momentary damage that heals after a few moments of rest. Such as when losing <em>health</em> pips to overexertion.
1. Permanent damage that does not heal normally and may require completing some great quest to recover.</p>
<h3 id="death">Death</h3>
<p>Most combat damage suffered is subtracted from <em>Health Pips</em>.
Losing your last <em>health</em> pip does not mean you are dead.
Each time the last pip of a die is lost, the character must roll a their <em>health dice</em> on the <em>Table of Terrible Injuries</em>.
If they have no <em>health dice</em> left to roll, they must roll on the mortal injury table.
For example; a character with 2 <em>health dice</em> will roll on a table when they lose their 7th <em>health pip</em> and their last <em>health pip</em>.
Characters with no <em>health dice</em> must roll on the <em>Mortal Injuries</em> table every time they take any damage.
True death can only come as the result of a roll on the <em>Mortal Injuries</em> table and will trigger the character&rsquo;s <em>Death Throe</em>.
Additiotally, characters with no <em>health dice</em> are exausted and use only half their dice on any roll.</p>
<h3 id="tables-of-terrible-injuries-health-dice">Tables of Terrible Injuries (health dice)</h3>
<ol>
<li>Roll on the <em>Table of Mortal Injuries</em>
1.</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li>It only pisses you off. Regain 1d6hp and take a turn.</li>
</ol>
<h3 id="table-of-mortal-injuries-d33">Table of Mortal Injuries (d33)</h3>
<ol>
<li>Instant death. Describe your gruesome demise.</li>
<li>Marked. Retire or die at the end of this session.</li>
<li>Major artery. Die next round unless first aid is received.</li>
<li>Bleeding out. Die in 1d rounds unless first aid is received.</li>
<li>Dismembered. Lose an arm (Lose half your dice on rolls that use two arms until trained).</li>
<li>Internal injuries. Roll 2d on this table each round until healed.</li>
<li>Blinded for 1d (1. Permanently, 2. Months, 3. Weeks, 4. Days, 5. Hours, 6. Rounds).</li>
<li>Bleeding wound. Roll on this table each round until healed.</li>
<li>K.O.</li>
<li>Brained. Lose half your <em>brains</em>.</li>
<li>Downed. You are on the ground next round and can get up the following round.</li>
<li>Walk it off. You lose a turn.
31.</li>
<li></li>
<li>Disarmed. You lose your weapon.</li>
<li>You are fine. No effect.</li>
<li>It makes you stronger. Gain 1d <em>health pips</em>.</li>
<li>Second wind. Earn back 1d <em>health dice</em>. It is your turn.</li>
</ol>
<h3 id="healing_1">Healing</h3>
<p><strong>Health</strong> and other attribute Point damage heals between episodes and many scenes. Narrative damage from some crits, environmental effects, or strong monsters lasts longer. It may be permanent or require a long rest, or a quest to heal.</p>
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="space-time">Space Time</h2>
<div class="colstwo">
<p>For Glory is a simulator. It does not aim to simulate reality, but rather, a piece of adventure fiction.
Moments of in game time can be thought of in terms of scenes, and shots.
A scene is usually no longer than a single game session in real time but may encompass a smaller or larger amount in game time.
Scenes maybe connected by montages, scene setting shots, or simply, flow one to the next.</p>
<p>A player taking an action becomes the camera person and editor for that shot.
The patron may decide that an action is not possible but, if the player has a good understanding of the scene, they can do whatever they like.
The patron is decide how many <em>hits</em> are required and which attribute would use.
The player must say any applicable skills they have.
For any NPCs that are in the shot or nearby, the patron may decide that they have the opportunity to
react.
The patron must decide if the character would know that the NPC will get a reaction.
NPCs with a <em>power</em> or <em>agility</em> of 3 or greater usually get a reaction.</p>
<p>NPC reactions can work in one of three ways.
They may negate the possibility of the character completing their desired action.
This may require a roll from the player to avoid some negative effect.
They may add to the required number of <em>hits</em> the player character is required roll to complete their action.</p>
<h3 id="types-of-shots">Types of shots</h3>
<ul>
<li>Montage</li>
<li>Close up</li>
</ul>
<h3 id="range">Range</h3>
<p>Distance can be divided into 4 bands. 
<em>Close</em>, <em>Near</em>, <em>Far</em>, and <em>Very Far</em>.
The actual size of the ranges expands as they move out.
It is always possible to move between <em>Near</em> and <em>Close</em> on your turn but other distances are determined by the patron and based on the nature of the scene and shot.</p>
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="treasure">Treasure</h2>
<h3 id="magic-items">Magic Items</h3>
<div class="colstwo">
<p>Magic is not a form of energy that objects may be imbued with. There is no +1 magic sword. Magic is desire given form. The most important aspect of any magical item is why is it magic.</p>
<h4 class="item" id="dahgtars-doom">Dahgtar&rsquo;s Doom</h4>
<p>+3d Magic Sword</p>
<p>Created in eons ago in the subterranean city of <em>Machtuul</em>, many heros sacrificed their lives to inter their spirits in this blade&rsquo;s ancient steel.
The blade smells of tears and weilding the blade gives the holder a feeling of great personal sadness (<strong>doom</strong>).
Only 38 more of this blade&rsquo;s ancient enemy need be killed in order to free the spirits inside and turn the blade into a rusted, old +1d sword.</p>
<ol>
<li>Gain +1 <strong>Armor</strong> agianst this opponent until next round.</li>
<li>Opponent cannot crit on you with their next attack.</li>
<li>Opponent loses their highest rolled attack die if they attack you.</li>
<li>+2 Damage to weapon arm. -2d attack.</li>
<li>Bleeding wound. +2 damage and 1 damage/round until bleeding is stopped.</li>
<li>Powerful strike. +3 damage and 3h <em>agility</em> check or be pushed back.</li>
<li>Skillful attack. Choice of grappled, pushed back on other effect.</li>
<li>The sword bursts into flame. Flammable targets alight and take d1 fire damage/round. The sword remains in flames until the danger has passed (even if the character thinks the danger has passed).</li>
<li>Weapon arm removed and smacks another opponent.</li>
<li>Gory attack. +2d6 damage and other opponents may flee.</li>
<li><em>You killed my father. Prepare to die</em> +d66 damage.</li>
<li>Speed demon. Make 1d6 more attacks against opponents in close range.</li>
<li>Blur of blades. All opponents in melee range take 2d6 damage.</li>
</ol>
</div>
</div>
</div>
<div class="section">
<div class="page">
<h2 id="magic">Magic</h2>
<h3 id="spells">Spells</h3>
<div class="colstwo">
<p>Casting spells is simply a matter of rolling <em>Brains</em>.
Spells can be cast until they are lost. Lost spells return the following morning. Lost spells may be cast at the cost of 1 health pip per casting. </p>
<h4 id="alchemist-spells">Alchemist spells</h4>
<p>The alchemist may sacrifice their own body to add to the power of the casting. Remove <em>Power</em>, <em>Agility</em>, or <em>Health</em> which heal normally.</p>
<p>Alchemist spells may cause side effects.
Side effects happen once per casting and the least severe side effect takes precedence.
Once a side effect occures, cross it off the list.</p>
<div class="keeptogether">
<h5 class="item" id="magic-missile">Magic Missile</h5>
<p><strong>Spell Name</strong> (1d, roll once)</p>
<ol>
<li><strong>Acid rain</strong> melts them</li>
<li><strong>Electricity</strong> lets you see skeleton</li>
<li><strong>Exploding Fireballs</strong></li>
<li><strong>Rainbow Eye Beam</strong></li>
<li><strong>Napalm Hands</strong></li>
<li><strong>Ghost Hammer</strong></li>
</ol>
<h6 id="effects-based-on-number-of-hits">Effects (based on number of hits)</h6>
<ol>
<li>Missile effects you. You take 2d6 damage. Spell lost and two side effects.</li>
<li>Missile effects you. You take 1d6 damage. Spell lost and one side effect.</li>
<li>Missile effects you. 1d6 damage. Spell lost.</li>
<li>No effect. Spell lost.</li>
<li>No effect.</li>
<li>5 damage to a single target.</li>
<li>2d6 damage to a single target who is prone.</li>
<li>4d6 damage that may be divided among multiple targets who are prone.</li>
<li>4d6 damage that may be divided among multiple targets who are also prone and 1d6 damage to everyone not targeted, including allies.</li>
<li>Everyone takes 2d6 damage and is prone.</li>
</ol>
<h6 id="side-effects">Side Effects</h6>
<p><strong>Double ones:</strong> <br />
Hair turns a bright color.
- [ ] Skin turns a bright color.
- [ ] Fingers become tentacles.</p>
<p><strong>Triple ones:</strong> <br />
- [ ] Skin becomes scaley, +1 Armor
- [ ] Extra eye grows in forehead. +1d for perception and anti-surprise. See <em>Magic Mouth</em> if you if you already have a mouth there.</p>
<p><strong>Quadruple ones:</strong> <br />
- [ ] Lizard brain. +1d <em>Agility</em> and can only eat live insects.
- [ ] You are a lizard person. 0d Brains, no tools or clothes, 2d Claws, +2d Agility, +2d Power.</p>
</div>
<div class="keeptogether">
<h5 class="item" id="magic-mouth">Magic Mouth</h5>
<h6 id="effects-based-on-number-of-hits_1">Effects (based on number of hits)</h6>
<ol>
<li>You begin yelling uncontrollably. Spell lost and two side effects.</li>
<li>You begin yelling uncontrollably. Spell lost and one side effect.</li>
<li>You begin yelling uncontrollably. Spell lost.</li>
<li>No effect. Spell lost.</li>
<li>A mouth appears on a chosen surface and speaks a phrase of your choosing when a particular trigger of your choosing occurs.</li>
<li>A large mouth appears under an opponent, biting for 1d6 damage. Caster may choose entry 2 instead of this one.</li>
<li>Your opponent&rsquo;s weapons gain mouths and attack their owners. Caster may choose entry 2 or 3 instead of this one.</li>
<li>Your mouth becomes a giant, fanged maw for the remainder of this battle. You may immediately attack with <em>Strength</em> +3d. Caster may choose entry 2 instead of this one.</li>
<li>You face and hands become mouths. You can make 3 +3d attacks/round for the remainder of the encounter. </li>
<li>Every creature in the local area gains multiple mouths and begins saying inappropriate things. Many creatures are horrified and run off. Wears off in one day.</li>
</ol>
<h6 id="side-effects_1">Side Effects</h6>
<p><strong>Two ones:</strong></p>
<ul>
<li class="checkbox">Gain a mouth on your forehead. If you already have an eye there, other people may ask the new face questions as it has special knowledge.</li>
<li class="checkbox">Your eyes are small mouths. You no longer see color but you can see 30&rsquo; in the dark using echo location.</li>
</ul>
<p><strong>Three ones:</strong></p>
<ul>
<li class="checkbox">Large fangs. +1d bite attack. </li>
<li class="checkbox">Hands become mouths. You cannot hold weapons properly but you have two +1d bite attacks/round.</li>
</ul>
<p><strong>Four ones:</strong></p>
<ul>
<li class="checkbox">Mouth on your backside that you now use for speaking.</li>
<li class="checkbox">You are an unthinking, giant mouth with arms and legs. 0d Brains.</li>
</ul>
</div>
<div class="keeptogether">
<h5 class="item" id="wood-weird">Wood Weird</h5>
<ol>
<li>No effect. Spell lost. Tangling plants grow from the floor and walls.</li>
<li>No effect. Spell lost. Vines and branches grow from all nearby wood objects.</li>
<li>No effect. Spell lost and a small log falls on a random person. 1hp if no helm.</li>
<li>No effect. Spell lost.</li>
<li>Roots protrude from the ground trapping opponents who must make a strength check to escape.</li>
<li>A wooden spike shoots up from the ground for 1d6 damage.</li>
<li>Wooden objects may be warped to ruin weapons or seal doors.</li>
<li>6d wooden bolt attack divided by up to 6 targets.</li>
<li>Wood may be formed into a shape.</li>
<li>Summon Larch (P4d A2d B0d H3d, move slow, 2 Attacks/round)</li>
</ol>
<p class="die">⚀⚁⚂⚃⚄⚅</p>
</div>
<div class="keeptogether">
<h5 class="item" id="magic-shield">Magic Shield</h5>
<ol>
<li>No effect. Spell lost and you are locked in a 6d force prison for 10 rounds.</li>
<li>No effect. Spell lost and </li>
<li>No effect. Spell lost and </li>
<li>No effect. Spell lost.</li>
<li>Personal shield provides +3 armor for this round.</li>
<li>Force ball attack 4d, ignore armor.</li>
<li>Create a wall the size of 3 tower shields that can provide +1 armor and protect 3 people or bar a door with H3d.</li>
<li>Create an invisible force field in the form of a craft which you can travel around in for up to 1 hour.</li>
<li>Create an invisible force field that can be manipulated with your mind. It can protect 4 people with +2 armor. If you concentrate, it can protect them as they move.</li>
<li>Create an invisible force field in the form of a craft which the party can travel around in for up to 1 hour.</li>
<li>Invisible force armor gives you +3d <em>Power</em>, +3 Armor, double jump, and move.</li>
<li>Create a force field the size of house with 12Hd that can push a house.</li>
</ol>
</div>
</div>
<!--end col -->
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="urth">Urth</h2>
</div>
<!--end page-->
</div>
<!--end section-->
<div class="section">
<div class="page">
<h2 id="monsters">Monsters</h2>
</div>
<!--end page-->
</div>
<!--end section-->
</div>