:root {
  --accent1: deeppink;
  --accent1: #ff41a6;
}
h2 {
  font-family: 'blaktur';
  counter-increment: h2-counter;
  display: flex;
  flex-direction: column;
  font-size: 7em;
  height: 6cm;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 1.5rem;
  string-set: heading content();
  text-align: center;
  color: var(--accent1);
}
h2::before {
  font-family: 'liberationsans';
  font-weight: bold;
  content: "Chapter " counter(h2-counter) " ";
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2;
}
.item {
  font-family: 'blaktur';
  font-size: 2em;
  margin-bottom: .25em;
}

li.checkbox::marker {
  content: "▢";
  padding-right: 6px;
  font-size: 1.3rem;
}

.die {
  font-size: 2rem;
}
/* ⚅ &#9861; */
/* ⚄ &#9860; */
/* ⚃ &#9859; */
/* ⚂ &#9858; */
/* ⚁ &#9857; */
/* ⚁ &#9856; */
/* ⚀ */
